/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */
.quote-left {
  color: $color__text-screen;
}
.show-another-quote {
  color: $color__text-screen;
  border: 3px solid $color__text-screen;
  background-color: $color__background-body;
}
.menu a {
  color: $color__text-screen;
  display: flex;
  justify-content: space-between;
}
.sticky {
  display: block;
}

.hentry {
  margin: 0 0 $base__space-unit;
}

.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: $base__space-unit 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 $base__space-unit;
}
@media(min-width:1080px) {

}
@media (min-width:600px) {

}