/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

.red-source {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}
.quote-link a {
  padding-left: 5px;
  padding-bottom: 15px;
}
a {
  text-decoration: none;
  color: $color__link;
  &:visited {
    color: $color__link-visited;
    text-decoration: none;
  }
  &:focus {
    outline: thin dotted;
  }
  &:hover {
    color: $color__link-hover;
  }
}

/* Menus */

.main-navigation {
  padding-left: 410px;
  clear: both;
  display: block;
  float: left;
  width: 100%;

  ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
    a {
      padding-left: 10px;
      padding-right: 10px;
      border-right: 1px solid #fff;
    }

    ul {
      float: left;
      position: absolute;
      top: $base__space-unit;
      left: -999rem;
      z-index: 99999;

      ul {
        left: -999rem;
        top: 0;
      }

      li {
        &:hover > ul,
        &.focus > ul {
          left: 100%;
        }
      }

      a {
        $color__link: #00cc00;
        $color__link-visited: #00cc00;
        $color__link-hover: #0b5c0b;
        display: flex;
        justify-content: space-between;
        width: 200px;
      }

      :hover > a,
      .focus > a {
      }

      a:hover,
      a.focus {
      }
    }

    li:hover > ul,
    li.focus > ul {
      left: auto;
    }
  }
  li {
    float: left;
    position: relative;

    &:hover > a,
    &.focus > a {
    }
  }
  a {
    text-decoration: none;
    padding-left: 10px;
  }

  .current_page_item > a,
  .current-menu-item > a,
  .current_page_ancestor > a {
  }
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
  .main-navigation ul {
    display: block;
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    margin: 0 0 $base__space-unit;
    overflow: hidden;
  }

  .nav-previous {
    float: left;
    width: 50%;
  }

  .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
}
